.card-deck {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}

.card {
    border: 1px solid rgba(0,0,0,.125);
    margin: 1.25rem;
    box-shadow: 0 0 11px 2px black;
}

.card-body {
    padding: 1.25rem;
}

.jumbotron {
    text-align: center;
    background-color: #E20 !important;
}
